# Documentation.
/.yardoc/
/doc/

# Gems for redistribution.
/ruby-macho-*.gem

# Testing.
/.bundle/
/coverage/
/vendor/bundle/

# Build results for test cases before they are selectively moved to '/test/bin'.
/test/src/*/*.a
/test/src/*/*.bin
/test/src/*/*.dylib
/test/src/*/*.o
/test/src/*/*.so


# IDE support
.ruby-version
.idea/
.vscode/
mise.toml

# macOS metadata file
.DS_Store
