name: CI

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  tests:
    strategy:
      matrix:
        platform: ["ubuntu-latest", "macos-latest"]
        ruby: ["3.1", "3.2", "3.3", "3.4"]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Set up Git repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false

    - name: Set up Ruby
      uses: ruby/setup-ruby@8aeb6ff8030dd539317f8e1769a044873b56ea71 # v1.268.0
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true

    - name: Run tests
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      run: bundle exec rake

    - name: Run RuboCop
      run: bundle exec rubocop -D lib/

    - name: Upload coverage results
      uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
      with:
        files: coverage/coverage.xml
        disable_search: true
        token: ${{ secrets.CODECOV_TOKEN }}
