name: CI
on:
  push:
    branches: master
  pull_request:
jobs:
  tests:
    strategy:
      matrix:
        platform: ["ubuntu-latest", "macos-latest"]
        ruby: ["2.7", "3.0", "3.1", "3.2", "3.3"]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Set up Git repository
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        persist-credentials: false

    - name: Set up Ruby
      uses: ruby/setup-ruby@2654679fe7f7c29875c669398a8ec0791b8a64a1 # v1.215.0
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true

    - name: Run tests
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      run: bundle exec rake

    - name: Run RuboCop
      run: bundle exec rubocop -D lib/

    - name: Upload coverage results
      uses: codecov/codecov-action@13ce06bfc6bbe3ecf90edbbf1bc32fe5978ca1d3 # v5.3.1
      with:
        files: coverage/coverage.xml
        disable_search: true
        token: ${{ secrets.CODECOV_TOKEN }}
